.container{
	.clearfix;
	position: relative;
	width: 934px;
	margin: auto;
	text-align: left;
}
.page{
	position: relative;
	padding: 100px 0 0;
}
#page-header{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 8px solid @color-link;
	.container{
		background: #fff;
	}
}
#page-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 60px 0 14px;
	border-bottom: 8px solid @color-link;
	.copy{
		float: left;
		padding: 42px 0 0;
		p{
			margin: 0 0 10px;
		}
		mark{
			font-weight: bold;
			background: none;
			color: #000;
		}
		a{
			color: @color-primary;
			&:hover{
				color: @color-link;
			}
		}
	}
	.xart{
		float: right;
		padding: 45px 0 0;
		font-size: 14px;
		a{
			text-decoration: none;
			color: @color-primary;
		}
		img{
			float: right;
			margin: 0 0 0 10px;
		}
	}
}
#gotop{
	.clearfix;
	a{
		float: right;
		width: 53px;
		height: 29px;
		text-indent: -9999px;
		background: url(../images/icon/08.png) no-repeat;
		&:hover{
			background-position: 0 -29px;
		}
	}
}