.mod_menu-main{
	float: right;
	ul{
		.reset-ul;
		.clearfix;
		li{
			.reset-li;
			float: left;
			background: url(../images/bg/01.png) no-repeat right top;
			a{
				display: block;
				height: 85px;
				width: 255px;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				text-decoration: none;
				font-size: 18px;
				color: @color-primary;
				&:hover{
					color: @color-link;
				}
			}
			&.act{
				a{
					color: #fff;
				}
			}
			&.home{
				background-position: right bottom;
				background: none;
				a{
					text-indent: -9999px;
					width: 84px;
					background: url(../images/icon/02.png) no-repeat;
					&:hover{
						background-position: 0 -85px;
					}
				}
				&.act{
					a{
						background-position: 0 -170px;
					}
				}
			}
			&.contact{
				background-position: right bottom;
				a{
					text-indent: -9999px;
					width: 85px;
					background: url(../images/icon/01.png) no-repeat;
					&:hover{
						background-position: 0 -85px;
					}
				}
				&.act{
					a{
						background-position: 0 -170px;
					}
				}
			}
			&.act{
				background: @color-link;
			}
		}
	}
}
.mod_custom-about{
	position: relative;
	padding: 60px 0;
	overflow: hidden;
	.mod-left{
		width: 240px;
		padding: 0 30px 0 0;
		min-height: 190px;
		margin: 100px 0 0;
		float: left;
		font-size: 24px;
		line-height: 1.2;
		background: url(../images/bg/02.png) no-repeat right 4px;
	}
	.mod-right{
		width: 640px;
		float: right;
		&:before{
			position: absolute;
			left: 100%;
			top: -40px;
			margin-left: 60px;
			content: url(../images/icon/07.png);
		}
	}
	h1{
		font-size: 48px;
		line-height: 1;
		font-weight: bold;
		margin: 0 0 17px;
		color: #000;
		mark{
			letter-spacing: -0.8px;
			margin: 0 0 0 -4px;
			font-size: 26px;
			background: none;
			color: #000;
		}
	}
	p{
		margin: 0 0 10px;
	}
}
.mod_custom-stanice{
	position: relative;
	padding: 60px 0;
	h2{
		text-align: center;
		margin: 0 100px 10px;
	}
	.items{
		position: relative;
		&:before{
			position: absolute;
			right: 100%;
			top: -165px;
			margin-right: 50px;
			content: url(../images/icon/06.png);
		}
	}
	.item{
		.clearfix;
		padding: 36px 0;
		border-top: 1px solid #d9d9d9;
		&:first-child{
			border-top: none;
		}
		figure{
			width: 240px;
			padding: 8px 0 0;
			float: left;
		}
		.content{
			width: 670px;
			float: right;
			h3{
				margin: 0;
				font-weight: bold;
				color: #000;
				font-size: 26px;
			}
			.price{
				padding: 37px 0 0;
				text-align: right;
				mark{
					display: inline-block;
					height: 40px;
					line-height: 40px;
					padding: 0 14px;
					color: #fff;
					font-size: 18px;
					font-weight: bold;
					background: @color-link;
					white-space: nowrap;
					small{
						font-size: 16px;
					}
				}
			}
		}
	}
}
.mod_custom-zprostredkovani{
	padding: 60px 0;
	h2{
		margin: 0 100px 35px;
		text-align: center;
	}
	.mod-left{
		float: left;
		width: 200px;
		min-height: 142px;
		padding: 0 0 0 260px;
		background: url(../images/icon/05.png) no-repeat 100px 0;
	}
	.mod-right{
		width: 440px;
		float: right;
	}
	h3{
		font-size: 40px;
		line-height: 1.1;
		color: #000;
		margin: 15px 0 0;
		font-weight: bold;
	}
}
.mod_custom-nabidka{
	padding: 60px 0;
	h2{
		margin: 0 10px 30px 0;
		padding: 0 150px 0 0;
		color: #000;
		background: url(../images/icon/04.png) no-repeat right top;
		mark{
			background: none;
			color: @color-link;
			font-weight: bold;
		}
	}
	.mod-left{
		width: 440px;
		float: left;
	}
	.mod-right{
		width: 440px;
		float: right;
		h2{
			background-image: url(../images/icon/03.png);
		}
	}

}
.mod_custom-kontakt{
	padding: 60px 0;
	h2{
		text-align: center;
		margin: 0 100px 42px;
	}
	.mod-left{
		.clearfix;
		width: 440px;
		padding: 32px 0 0;
		float: left;
	}
	.map{
		width: 440px;
		float: right;
	}
	h3{
		font-size: 49px;
		margin: 0 0 35px;
		font-weight: bold;
		color: #000;
		mark{
			background: none;
			color: #000;
			font-size: 26px;
			letter-spacing: -1px;
			margin: 0 0 0 -6px;
		}
	}
	.col1{
		float: left;
		width: 160px;
		margin: 0 0 20px;
	}
	.col2{
		float: left;
		width: 160px;
		padding: 0 0 0 30px;
		margin: 0 0 20px 20px;
		border-left: 2px solid #ececec;
	}
	address{
		font-style: normal;
		mark{
			background: none;
			color: @color-link;
			font-weight: bold;
		}
	}
}