@font-face {
    font-family: 'DIN Pro';
    src: url('dinpro-webfont.eot');
    src: url('dinpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinpro-webfont.woff') format('woff'),
         url('dinpro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('dinpro-bold-webfont.eot');
    src: url('dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinpro-bold-webfont.woff') format('woff'),
         url('dinpro-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}